.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  gap: 20px; 
  height: 1000px;
  width: 94%;
}

.photo {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.photo-1 {
  background-image: url(../img/photo-1.jpg);
  grid-column: 1;
}

.photo-2 {
  background-image: url(../img/photo-2.jpg);
  grid-column: 2 / 5;
  grid-row: 1 / 4;
}

.photo-3 {
  background-image: url(../img/photo-3.jpg);
  grid-column: 5;
}

.photo-4 {
  background-image: url(../img/photo-4.jpg);
  grid-column: 5;
  grid-row: 2 / 4;
}

.photo-5 {
  background-image: url(../img/photo-5.jpg);
  grid-column: 1;
  grid-row: 2 / 4;
}

.photo-6 {
  background-image: url(../img/photo-6.jpg);
  grid-column: 1;
  grid-row: 4;
}

.photo-7 {
  background-image: url(../img/photo-7.jpg);
  grid-column: 2;
  grid-row: 4;
}

.photo-8 {
  background-image: url(../img/photo-8.jpg);
  grid-column: 3;
  grid-row: 4;
}

.photo-9 {
  background-image: url(../img/photo-9.jpg);
  grid-column: 4;
  grid-row: 4;
}

.photo-10 {
  background-image: url(../img/photo-10.jpg);
  grid-column: 5;
  grid-row: 4;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(7, 2fr);
    gap: 10px;
    height: 600px;
  }

  .photo-1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../img/photo-1.jpg);
  }
  .photo-2 {
    grid-column: 1 / 3;
    grid-row: 2;
    background-image: url(../img/photo-2.jpg);
  }
  .photo-3 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../img/photo-3.jpg);
  }
  .photo-4 {
    grid-column: 1;
    grid-row: 3 / 5;
    background-image: url(../img/photo-4.jpg);
  }
  .photo-5 {
    grid-column: 2;
    grid-row: 3 / 5;
    background-image: url(../img/photo-5.jpg);
  }
  .photo-6 {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../img/photo-6.jpg);
  }
  .photo-7 {
    grid-column: 2;
    grid-row: 5;
    background-image: url(../img/photo-7.jpg);
  }
  .photo-8 {
    grid-column: 1;
    grid-row: 6;
    background-image: url(../img/photo-8.jpg);
  }
  .photo-9 {
    grid-column: 2;
    grid-row: 6;
    background-image: url(../img/photo-9.jpg);
  }
  .photo-10 {
    grid-column: 1 / 3;
    grid-row: 7;
    background-image: url(../img/photo-10.jpg);
  }
}

@media (max-width: 576px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    gap: 10px;
    height: 1000px;
    width: 100%;
  }

  .photo {
    margin: 0;
    box-shadow: none;
    border: 1px solid #ddd;
  }

  .photo-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .photo-2 {
    grid-row: 2;
    grid-column: 1;
  }
  .photo-3 {
    grid-row: 3;
    grid-column: 1;
  }
  .photo-4 {
    grid-row: 4;
    grid-column: 1;
  }
  .photo-5 {
    grid-row: 5;
    grid-column: 1;
  }
  .photo-6 {
    grid-row: 6;
    grid-column: 1;
  }
  .photo-7 {
    grid-row: 7;
    grid-column: 1;
  }
  .photo-8 {
    grid-row: 8;
    grid-column: 1;
  }
  .photo-9 {
    grid-row: 9;
    grid-column: 1;
  }
  .photo-10 {
    grid-row: 10;
    grid-column: 1;
  }
}
