.weather {
  width: 400px;
  margin-left: 35%;
  margin-top: 5%;
  background-color: rgb(244, 244, 244);
  box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.8);
  padding: 15px;
  line-height: 4px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(91, 91, 91);
}
.weather-main {
  display: flex;
  font-size: 36px;
  font-weight: 600;
}
.weather-main > img {
  width: 100px;
}
.weather-name {
  margin-bottom: 60px;
  font-size: 40px;
  color: rgb(49, 49, 49);
}
span {
  color: rgb(49, 49, 49);
}
.weather-unit {
  font-size: 20px;
  font-weight: 200;
  margin-top: 28px;
}
.weather-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px rgba(91, 91, 91, 0.711) solid;
}

.weather-details {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.weather-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  color: rgb(49, 49, 49);
}

.weather-detail:last-child {
  border-bottom: none;
}
.weather-value {
  font-weight: 500;
  color: rgb(49, 49, 49);
}
.weather-label {
  font-weight: 100;
  color: rgb(85, 85, 85);
}

.weather-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(91, 91, 91, 0.711);
  padding: 8px 0;
}

.weather-day > img {
  width: 80px;
}

.weather-day-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-day-temp-min {
  display: block;
  margin-top: 15px;
}

.weather-day-label {
  width: 60px;
  font-weight: bold;
}

.none-border {
  border-bottom: none;
}
