.recept {
  text-align: center;
  box-sizing: border-box;
}

.title {
  color: red;
}

.bold {
  font-weight: bold;
}

.note {
  margin-top: 10px;
  font-style: italic;
  border-top: 5px green solid;
  margin-left: 30%;
  margin-right: 30%;
}
.emphasis {
  text-decoration-line: underline;
}
.crossed {
  text-decoration-line: line-through;
}
.marked {
  background-color: yellow;
}
