@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: $text;
}

body {
  padding-top: $header-h;
  background: $light;
}

ul { list-style: none; }
a { color: inherit; text-decoration: none; }

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}
