@import "variables";
@import "mixins";
@import "functions";

.card-block {
  padding: 0 20px;
}

.card-block-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 40px 0 20px;

  > p {
    font-size: 30px;
    font-weight: 800;
  }

  .card-block-info-min {
    color: rgb(233, 0, 0);
    font-size: 30px;
  }
}

/* ===== ГРІД З 9 ФОТО ===== */
.card-block-images {
  display: grid;

  /* СТАН ЗА ЗАМОВЧУВАННЯМ (ПК): 3 колонки */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: px-mult(5px, 3); // 15px

  > img,
  .card-block-images-five {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}


.card-block-images-five {
  background-image: url("../../img/fon.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;

  .circle {
    width: clamp(80px, 20vw, 125px);
    height: clamp(80px, 20vw, 125px);
    border-radius: 50%;
    border: 5px solid transparent;
    object-fit: cover;
    margin-top: 25px;
    @include transition(box-shadow transform border-color, $transition-smooth);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }

  &:hover {
    .circle {
      border-color: #00ffae;
      box-shadow: 0 0 20px rgba(0, 255, 179, 0.6);
      transform: scale(1.05);
    }

    .plus {
      background: #00ffae;
      color: black;
      transform: translate(50%, -50%) rotate(90deg);
      box-shadow: 0 0 20px rgba(0, 255, 179, 0.6);
    }
  }

  .plus {
    position: absolute;
    top: 39%;
    right: 33%;
    transform: translate(50%, -50%);
    background: $light;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 28px;
    color: #007751;
    box-shadow: 0 0 10px rgba(0, 255, 179, 0.65);
    @include transition(all, $transition-smooth);
    cursor: pointer;
  }

  .name {
    color: #cecdcd;
    margin-top: 7px;
    font-size: 20px;
  }

  .addres {
    color: rgba(0, 255, 179, 0.6);
    margin-top: 7px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .card-block-images {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .card-block-images {
    grid-template-columns: 1fr;
  }
}
