@use "variables" as v;
@use "mixins" as m;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1000;
  background: v.$light;
  padding: 20px 16.5%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);

  .header-inner {
    height: v.$header-h;
    padding: 0 20px;
    @include m.flex(center, space-between);
  }

  .icon-wrap {
    @include m.flex(center, flex-start);
  }

  .icon {
    height: 40px;
    width: auto;
    display: block;
  }


  .header-burger {
    display: none; 
    width: 40px;
    height: 40px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 6px;
    @include m.flex(center, center, column);
    gap: 5px;
    cursor: pointer;
    @include m.transition(all, v.$transition-smooth);

    span {
      width: 24px;
      height: 3px;
      background-color: #555;
      border-radius: 2px;
      @include m.transition(all, v.$transition-smooth);
    }

    &:hover {
      background: #e7e7e7;
      border-color: #bbb;
    }

    &:active {
      transform: scale(0.92);
      background: #dcdcdc;
    }

    @include m.focus-ring(v.$accent);
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 3%;
    padding-right: 3%;

    .header-burger {
      display: flex !important; 
    }
  }
}

@media (min-width: 769px) {
  .header-burger {
    display: none !important; 
  }
}
