footer
  p.kopypast 2014 Keepsake. All rights. Theme by elemis

  .media
    +social('https://www.whatsapp.com/?lang=uk', '../img/whatsapp.png', 'whatsapp')
    +social('https://www.facebook.com/?locale=uk_UA', '../img/facebook.png', 'facebook')
    +social('https://x.com/?lang=uk', '../img/twitter.png', 'twitter')
    +social('https://www.twitch.tv/', '../img/twitch.png', 'twitch')
    +social('https://ru.pinterest.com/', '../img/pinterest.png', 'pinterest')
