.header
  .header-inner
    include logo.pug

    button#burger.header-burger(
      aria-label="Open menu"
      aria-expanded="false"
      aria-controls="nav"
    )
      span
      span
      span

    include navigation.pug
