ul > li > ul {
  color: purple;
}
.main {
  color: green;
}

.type-square {
  list-style-type: square;
}

.type-pict {
  list-style-image: url("check.png");
}

.type-none {
  list-style-type: none;
}

.square li > a {
  text-decoration: none;
}

.different li {
  list-style-position: inside;
}
