body {
  margin: 0;
  font-family: system-ui, -apple-system, "Roboto", Arial, sans-serif;
}

body {
  grid-template-columns: 100%;
  grid-template-rows: repeat(9, 2fr);
  display: grid;
  gap: 20px;
  width: 94%;
  margin: 0 auto;
  height: 600px;
}
.head {
  background-color: rgb(190, 0, 0);
  grid-row: 1;
  grid-column: auto;
}
.navigation {
  background-color: rgb(191, 89, 0);
  grid-row: 2;
  grid-column: auto;
}
.main {
  background-color: rgb(0, 122, 87);
  grid-row: 3/7;
  grid-column: auto;
}
.sidebar {
  background-color: rgb(0, 80, 160);
  grid-row: 7;
  grid-column: auto;
}
.ads {
  background-color: rgb(90, 0, 174);
  grid-row: 8;
  grid-column: auto;
}
.footer {
  background-color: rgb(200, 0, 194);
  grid-row: 9;
  grid-column: auto;
}

@media (min-width: 576px) {
body {
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(9, 2fr);
  display: grid;
  gap: 20px;
  width: 94%;
  margin: 0 auto;
  height: 600px;
}
.head {
  background-color: rgb(190, 0, 0);
  grid-row: 1;
  grid-column: 1/5;
}
.navigation {
  background-color: rgb(191, 89, 0);
  grid-row: 2;
  grid-column: 1/5;
}
.main {
  background-color: rgb(0, 122, 87);
  grid-row: 3/9;
  grid-column: 2/5;
}
.sidebar {
  background-color: rgb(0, 80, 160);
  grid-row: 3/9;
  grid-column: 1;
}
.ads {
  background-color: rgb(90, 0, 174);
  grid-row: 9;
  grid-column: 1;
}
.footer {
  background-color: rgb(200, 0, 194);
  grid-row: 9;
  grid-column: 2/5;
}
}

@media (min-width: 768px) {
body {
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(9, 2fr);
  display: grid;
  gap: 20px;
  width: 94%;
  margin: 0 auto;
  height: 600px;
}
.head {
  background-color: rgb(190, 0, 0);
  grid-row: 1;
  grid-column: 1/5;
}
.navigation {
  background-color: rgb(191, 89, 0);
  grid-row: 2;
  grid-column: 2/4;
}
.main {
  background-color: rgb(0, 122, 87);
  grid-row: 3/9;
  grid-column: 2/4;
}
.sidebar {
  background-color: rgb(0, 80, 160);
  grid-row: 2/9;
  grid-column: 1;
}
.ads {
  background-color: rgb(90, 0, 174);
  grid-row: 2/9;
  grid-column: 4;
}
.footer {
  background-color: rgb(200, 0, 194);
  grid-row: 9;
  grid-column: 1/5;
}
}