.wrapper {
  width: 1140px;
  margin-left: 12%;
}
.logo{
  width: 150px;
  float: left;
}
.link {
  background-color: rgb(255, 127, 80);
  font-size: 20px;
  color: rgb(7, 7, 159);
  width: 10rem;
  height: 3rem;
  margin-right: 10px;

  padding: 20px;
}
.navigation-menu {
  float: right;
  margin-top: 40px;
}
.link:hover {
  box-shadow: inset 8px -5px 13px 9px rgba(255, 74, 13, 0.697);
  transition: 0.4s;
  cursor: pointer;
}


.information {
  clear: both;
  padding: 10px;
}

.first-line {
  float: left;
  width: 27%;

  text-align: center;
  padding-right: 40px;
  border-right: dotted rgb(197, 2, 2) 6px;
  height: 700px;
  text-align: justify;
}

.third-line {
  float: right;
  width: 27%;
  text-align: center;
  height: 600px;
  text-align: justify;
}

.second-line {
  float: left; 
  width: 27%;
  margin: 0 5%;
  text-align: center;
  padding-right: 40px;
  border-right: dotted rgb(197, 2, 2) 6px;
  height: 700px;
  text-align: justify;
}

.image_position-left {
  float: left; 
  margin: 10px; 
  width: 160px; 
  height: auto; 
}

.image_position-right {
  float: right;
  margin: 10px;
  width: 160px;
  height: auto;
}
