.block-1 {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 200px;
  height: 250px;
  background-color: rgb(0, 176, 80);
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}
.block-2 {
  position: absolute;
  top: 100px;
  left: 520px;
  width: 180px;
  height: 250px;
  background-color: rgb(178, 161, 199);
  font-size: 30px;
  text-align: center;
}
.block-3 {
  position: absolute;
  top: 100px;
  left: 720px;
  width: 400px;
  height: 250px;
  background-color: rgb(0, 176, 80);
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}
.block-4 {
  position: absolute;
  top: 370px;
  left: 300px;
  width: 820px;
  height: 100px;
  background-color: rgb(178, 161, 199);
  font-size: 30px;
  text-align: center;
}
