.forecast {
  width: 410px;
  height: 350px;
  background-color: rgb(163, 163, 163);
}
.dark-block {
  position: absolute;
  top: 40px;
  left: 70px;
  width: 260px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}
.date {
  font-size: 90px;
  color: rgb(163, 163, 163);
  font-weight: 700;
  margin-top: 140px;
  margin-left: 20px;
}
.photo-cloud {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 130px;
  z-index: 2;
}
.week {
  background-color: rgb(198, 198, 198);
  box-shadow: 4px 4px 0px 1px #676767;
  position: absolute;
  top: 240px;
  left: 200px;
  width: 200px;
  height: 100px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.day-week {
  float: left;
  margin-right: 19px;
  margin-left: 1px;
  margin-top: 60px;
  font-size: 10px;
  color: #707070;
}
.dagree {
  float: left;
  margin-right: 15px;
  margin-top: -1px;
}
.week-degrees,
.week-name {
  margin-left: 10px;
  clear: both;
}
.forecast-photo-left,
.forecast-photo-right {
  width: 40px;
  height: 40px;
  background-image: url(../img/arrow.svg);
  background-size: cover;
  opacity: 0.8;
  background-color: #707070c8;
  box-shadow: 0px 0px 9px 4px rgba(97, 97, 97, 0.97);
  position: absolute;
  top: 120px;
  z-index: 2;
  cursor: pointer;
}

.forecast-photo-left {
  left: 30px;
}

.forecast-photo-right {
  left: 70px;
  transform: scale(-1, 1);
}
